nav{
    display: flex;
    flex-direction:center;
    justify-content: space-between;
    gap: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.home a{
    text-decoration: none;
    color: white;
    margin-left:30px;
}
.box img{
    
    width: 100%;
    height: 100%;
    justify-items: center;
    background-color: black;
}
h1{
    color:white;
    background-color: black;       
}
body{
    background-color: black;
}
button{
    
    font-size: 25px;
    background-color:#deab5f;
    text-align: center;
   align-items: center;
}
img{
    
    height: 500px;
    
}
a{
    color: white;
    text-decoration: none;
    align-items: center;
}
.b{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
}
a{
    color: white;
    text-align: center;
    font-size: xx-large;

}  
.d h1{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 10px;
    justify-content: space-around;
    align-items: start;
} 
.d p{
    font-size: 20px;
    margin:auto ;
}
.c{ 
    margin: auto;
    display:flex ;
    justify-content: space-around;
    flex-direction: row;

    color: white;
    align-items: center;
}
.e{
    justify-content: space-around;
}

.img2{ 
    width: 500px;
    height: 500px;
}
.f h4{
    color: white;
    font-size: xx-large; 

}
.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 100px;
}
.g,.i,.k{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #deab5f;
    border-radius: 10px;
    width: 300px;
    height: 450px;
}
hr{
    margin: 0 auto;
    width: 500px;
    color: #deab5f;
    align-items: center;
}
.o{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: row;
    height: 400px;
    justify-content: space-around;
}
.l,.m,.n p{
    align-items: center;
    padding: 1px;
    color: white;
    justify-content: space-around;
    align-items: center;
}
footer h3{
    color: white;
    border-color: #deab5f;
    text-align: center;
}
span{
    color: #deab5f;
}





